   <style>
    .hidden-field {
      display: none;
    }
    </style>

		<%= render 'shared/navigation', :cart_size => @cart_size %>


		<header class="bg-dark py-5">
				<div class="container px-4 px-lg-5 my-3">
						<div class="text-center text-white">
								<h1 class="display-4 fw-bolder">Rails EC</h1>
						</div>
				</div>
		</header>

		<section class="py-3">
			<div class="container px-4 px-lg-5">
				<h2>セッションIDは<%= session[:cart_id] %></h2>
				<div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
					<%= render partial: 'product' %>
				</div>
			</div>
		</section>

		<!-- Footer-->
		<footer class="py-5 bg-dark">
			<div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2023</p></div>
		</footer>
